<table class='table'>
  <%= link_to customer_session_path(customer.id) do %>
  <tr>
    <th>ユーザー名</th>
	  <th><%= customer.name %></th>
  </tr>
  <tr>
	  <th>自己紹介</th>
	  <th><%= customer.introduction %></th>
  </tr>
  <tr>
    <th>フォロー</th>
    <th></th>
  </tr>
  <tr>
    <th>フォロワー</th>
    <th></th>
  </tr>
  <% end %>
</table>