<table class='table'>

  <tr>
    <th>ユーザー名</th>
	  <th></th>
  </tr>
  <tr>
	  <th>自己紹介</th>
	  <th></th>
  </tr>
  <tr>
    <th>フォローしているユーザー</th>
    <th></th>
  </tr>
  <tr>
    <th>フォロワー</th>
    <th></th>
  </tr>

</table>