<table class='table'>
  <%#= link_to customer_session_path(customer.id) do %>
  <tr>
      <%= image_tag customer.get_profile_image(60,60) %>
    <tr>
      <th>ユーザー名</th>
  	  <th><%= customer.name %></th>
  	 </tr>
  </tr>
  <tr>
	  <th>自己紹介</th>
	  <th><%= customer.introduction %></th>
  </tr>
  <tr>
    <th>フォロー</th>
    <th></th>
  </tr>
  <tr>
    <th>フォロワー</th>
    <th></th>
  </tr>
  <%# end %>
  <tr>
    <th>
      <%= link_to edit_public_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-solid fa-user-gear"></i>
      <%end%>
    </th>
  </tr>
</table>