<div class="abhaikei">
  <h1>譲り合いで輝ける未来へ</h1>
  <h2>あなたの不要になった物は、誰かにとって特別なモノ。</h2>
  <h2>使わなくなった物には、まだ輝ける未来が待っています。</h2>
  <h2>warasiibeは人と人をつなぎ、モノに新たな活躍の場を提供するプラットフォームです。</h2>
  <h2>お世話になった感謝のしるしとして、次のステージを贈りましょう。</h2>
  <h2>断捨離は終わり、譲り合いは始まり。</h2>

      <%= link_to " さっそく始める", new_customer_registration_path, class: "btn-80" %>

</div>

  <div class="container">
      <h1 class="tokucho">
        warasiibeの特徴
      </h1>
  </div>

  <div class="row">

    <div class="col-xs-6 col-lg-4">
        <div class="card-body">
          <h5 class="card-title">すべての商品が無料</h5>
          <p class="card-text">配送料のみの負担で欲しいものを譲り受けることができます。気軽に物々交換を楽しんでください。</p>
          <img src="/assets/about_car.jpg" alt="" width="220" height="210" />
        </div>
    </div>

    <div class="col-xs-6 col-lg-4">
        <div class="card-body">
          <h5 class="card-title">面倒くさいやり取りは不要</h5>
          <p class="card-text">譲る方は(出品、着払いで配送)　受け取る方は(探す、気に入った商品に配送依頼を送る)の2ステップのみです。</p>
          <img src="/assets/about_people.jpg" alt="" width="200" height="180" />
        </div>
    </div>

    <div class="col-xs-12 col-lg-4">
        <div class="card-body">
          <h5 class="card-title">サステナブルな未来づくり</h5>
          <p class="card-text">ワラシベ長者は持続可能な社会を目指し、大切な地球を守ることに貢献します。資源を使いまわすことはその一歩です。</p>
          <img src="/assets/about_heart.jpg" alt="" width="180" height="160" />
        </div>
    </div>
</div>