<h1>ようこそワラシベ長者へ</h1>
<p>ユーザー同士で不要なもの譲り合いが楽しめるアプリです。</p>
<%= link_to '会員の方',new_customer_session_path %>
<%= link_to '新規登録はこちら',new_customer_registration_path %>
<%= link_to 'ログアウト',destroy_customer_session_path, method: :delete %>
