<div class="col-md-8 offset-md-1">
  <table class="table table-hover table-inverse">
    <tbody>
    <h2>商品一覧</h2>
    <% @products.each do |product| %>
    <tr>
      <td>
        <% if product.images.attached? %>
          <%= image_tag product.images.first, size: "100x100" %>
        <% else %>
          <%= image_tag 'no_image.jpg' %>
        <% end %>
      </td>
      <td><%= link_to product.product_name, public_product_path(product.id) %></td>
      <td><%= product.caption %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>