/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header {
  width: 100%;
  padding: 10px 0;
  margin: 0px auto 0;
  text-align: center;
  background-color: #16A085;
}

header .headline {
  font-size: 72px;
  color: #FBFCFC;
  margin: 10px auto 0;
}

header .button{
  display: inline-block;
  padding: .2em 2.5em;
  border: 2px solid #333;
  border-radius: .4em 2em .5em 3em/3em .5em 2em .5em;
  color: #333;
  background-color: #D6EAF8;
  font-family: 'Covered By Your Grace', cursive;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
}

body {
  background-color: #FEF5E7;
}

footer {
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  background-color: #EDBB99 ;
  position: absolute;
  bottom: 0;
}

.footer-text {
  color: #fff;
}