<div class='container px-5 px-sm-0'>
  <div class='row'>

    <div class='col-md-8 offset-md-1'>

			<h1>配送依頼フォーム</h1>

			<div style='text-align: center;'>
				<ol class="navi">
					<li>1.入力</li>
					<li>2.確認</li>
					<li class="current">3.完了</li>
				</ol>
			</div>

			<p>配送依頼が完了しました。</p>
			<p>出品者が配送を完了するまでしばらくお待ちください。</p>

		</div>
	</div>
</div>
